{% extends 'employee_base.html' %}

{% block title %} Employee Home {% endblock %}

{% block header %} Employee Portal {% endblock %}
  <div class="container-fluid ">
        <div>
{% block content %}

  {% if user.is_authenticated %}
        Hello {{ logged_in_employee.name }}!<br />
        Address: {{ logged_in_employee.address }} <br>
        ZipCode: {{ logged_in_employee.zipcode }}<br />
        <h1>Customers in ZipCode</h1>
        <button>
          <a href="{% url 'employees:weekday_pickup_search' %}">Click to Search by Day!</a>
        </button>
        {% for customer in todays_customers %}
        <li>Customer Name: {{ customer.name }}<br />
        Customer ZipCode: {{ customer.zip_code }}<br />
        Customer Address: {{ customer.address }}<br />
        Customer Weekly Pick-up: {{customer.weekly_pickup }}<br />
        Customer One time Pick-up: {{customer.one_time_pickup}}<br />

        <button>
          <a href="{% url 'employees:confirm_pickup' customer.id %}">Confirm!</a>
        </button></li>

        
        {% endfor %}  

  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}
