{% extends 'employee_base.html' %}

{% block title %} Employee Home {% endblock %}

{% block header %} Weekday Pickup Search {% endblock %}

{% block content %}
  {% if user.is_authenticated %}

        <br />
        To view the weekly schedule of your customers, choose your day below (default is today):
         <br />

        <br />
      
        <form action="{% url 'employees:weekday_pickup_search' %}" method="post">
            {% csrf_token %}

            <label>Day of the week:</label>

                <select name="days" id="days">
                <option value="" selected disabled hidden>Select a day</option>
                <option value="monday">Monday</option>
                <option value="tuesday">Tuesday</option>
                <option value="wednesday">Wednesday</option>
                <option value="thursday">Thursday</option>
                <option value="friday">Friday</option>
                <option value="saturday">Saturday</option>
                <option value="sunday">Sunday</option>
            </select>
            <!-- <input class =spinner-border spinner-border-md type="submit" value="Search" > -->
        </form>
        <br />
        <br />

      <h2>Customers in my  Zip Code: {{logged_in_employee.zip_code }} for {{ selected_day }}</h2><br />
      {% for customer in customer_match %}
          <br />
          Name: <input type="name" name="name" id="name" value="{{ customer.name }}" readonly></br>
          Address: <input type="address" name="address" id="address" value="{{ customer.address }}" readonly>
          <br />
      {% endfor %}










{#  As a registered employee, I want my index view to be a list of today’s customers who meet ALL the following criteria:#}
{#-	Customers in my zip code#}
{#-	Pickup day is today’s day of week OR One-time pickup date that falls on today#}
{#-	Non-suspended accounts#}
{#-	Trash has not yet been picked up today    #}


  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}